.card-container{
  margin-top: 20vh;
  margin: 5vh;
  width: 70vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}
.text{
  margin-left: 10px;
}

